/* Normal mode styles for larger screens */
.product-form,
.customer-list,
h2 {
  background-color: #f3f3f3;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

.product-form label,
.customer-list,
.customer-item,
h2 {
  display: block;
  margin-bottom: 5px;
}

.product-form input,
.customer-list,
.customer-item,
h2 {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.update-button,
.delete-button,
.customer-item {
  background-color: hsl(209, 26%, 35%);
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.delete-button,
.customer-item:hover {
  background-color: #ed2c2c;
}

.customer-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

.customer-link {
  text-decoration: none;
  color: hsl(209, 26%, 35%);
}

.customer-item:hover {
  background-color: #e7a0a0;
}

h2 {
  text-align: center;
  background-color: #f3f3f3;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
  margin-top: 20px;
}

/* Responsive mode styles for smaller screens */
@media only screen and (max-width: 600px) {
  .product-form,
  .customer-list,
  h2 {
    width: 80%; /* Adjust width for smaller screens */
  }

  .update-button,
  .delete-button,
  .customer-item {
    width: 100%; /* Make buttons full width for smaller screens */
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 10px; /* Add space between buttons/items for smaller screens */
  }
}
