.nav-container {
  background-color: hsl(209, 26%, 35%);
  padding: 20px;
  text-align: center;
}

.nav-link {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  margin: 0 20px;
  transition: color 0.3s;
}

.nav-link:hover {
  color:  #090909;;
}

.logo {
  color: #fff;
  font-size: 32px;
  margin-top: 20px;
  font-weight: bold;
  width: 55%; /* Adjust the size as needed */
  max-height: 80vh; /* Adjust the size as needed */
}
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Adjust this for the desired height */
}
@media only screen and (min-width: 600px) {
  .nav-link {
    font-size: 16px; /* Decrease font size for tablets */
    margin: 0 15px; /* Adjust spacing for tablets */
  }

  .logo {
    font-size: 28px; /* Decrease font size for tablets */
    margin-top: 15px; /* Adjust spacing for tablets */
  }
}

/* Media query for desktop screens */
@media only screen and (min-width: 1200px) {
  .nav-link {
    font-size: 20px; /* Increase font size for desktop */
    margin: 0 25px; /* Adjust spacing for desktop */
  }

  .logo {
    font-size: 32px; /* Keep font size for desktop */
    margin-top: 20px; /* Adjust spacing for desktop */
  }
}