/* Normal mode styles for larger screens */
.customer-form {
  background-color: #f3f3f3;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 40%;
  margin: 0 auto;
}

.customer-form label {
  display: block;
  margin-bottom: 5px;
}

.customer-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}

.update-button {
  background-color: hsl(209, 13%, 46%);;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-right: 10px;
}

.delete-button {
  background-color: #ed2c2c;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

/* Responsive mode styles for smaller screens */
@media only screen and (max-width: 600px) {
  .customer-form {
    width: 80%; /* Adjust width for smaller screens */
  }

  .update-button,
  .delete-button {
    width: 100%; /* Make buttons full width for smaller screens */
    margin-right: 0; /* Remove margin for smaller screens */
    margin-bottom: 10px; /* Add space between buttons for smaller screens */
  }
}
