<div class="product-list">
  <app-products></app-products>
</div>

<div class="product-list">
  <ul>
    <li class="product-item" *ngFor="let product of products">
      <div class="product-details">
        <strong class="detail-label">Product Name:</strong>
        <a [routerLink]="'EditProduct/' + product.id" class="product-link">{{ product.name }}</a>
      </div>
      <div class="product-details">
        <strong class="detail-label">Price:</strong> {{ product.price }}
      </div>
      <div class="product-details">
        <strong class="detail-label">Quantity:</strong> {{ product.Quantity }}
      </div>

      <div class="product-details">
        <strong class="detail-label">Customers that bought the product:</strong>
        <div class="customer-list">
          <div *ngFor="let customer of product.Customers; let first = first" class="customer">
            <div *ngIf="first" class="customer-info">
              <strong>Name: </strong>
              <a [routerLink]="'/EditCustomer/' + customer.id" class="customer-link">
                {{ customer.FirstName }} {{ customer.LastName }}
              </a>
              <br>
              <strong>Purchase Date: </strong>{{ customer.Date }}
              <br>
              <button (click)="addProductToCustomer(customer)" class="add-button">Add</button>
              <div *ngIf="customer.isAddingProduct" class="product-add">
                <select [(ngModel)]="customer.selectedProduct" class="select-product">
                  <option *ngFor="let prod of products" [ngValue]="prod">{{ prod.name }}</option>
                </select>
                <button (click)="createPurchaseForCustomer(customer)" class="save-button">Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
