<div>
  <app-products></app-products>
</div>
<div>
  <ul>
    <li style="border: 1px solid black;" *ngFor="let product of products">
      <div>
        <strong>Product Name:</strong>
        <a [routerLink]="'EditProduct/' + product.id">{{ product.name }}</a><br/>
      </div>
      <div>
        <strong>Price:</strong> {{ product.price }}
      </div>
      <div>
        <strong>Quantity:</strong> {{ product.Quantity }}
      </div>

      <div>
        <strong>Customers that bought the product:</strong>
        <div>
          
            <div *ngFor="let customer of product.Customers;let first=first">
              <div *ngIf="first">
              <strong>Name: </strong>
              <a [routerLink]="'EditCustomer/' + customer.id">
                {{ customer.FirstName }} {{ customer.LastName }}
              </a><br/>
              <strong>Purchase Date: </strong>{{ customer.Date }}<br/>
              <button (click)="addProductToCustomer(customer)">Add</button>
              <div *ngIf="customer.isAddingProduct">
                <select [(ngModel)]="customer.selectedProduct">
                  <option *ngFor="let prod of products" [ngValue]="prod">{{ prod.name }}</option>
                </select>
                <button (click)="createPurchaseForCustomer(customer)">Save</button>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </li>
  </ul>
</div>
