/* Normal mode styles for larger screens */
.home-page {
  background: linear-gradient(135deg, #f0f0f0 50%, hsl(209, 26%, 35%) 50%);
  background-size: 150% 150%;
  background-position: right bottom;
  padding: 20px;
}

.product-list ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-item {
  border: 1px solid #ccc;
  background-color: #f5f5f5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  flex-basis: calc(33.33% - 20px);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.product-item:hover {
  background-color: hsl(209, 26%, 35%);
  transform: translateY(-5px);
  color: #121415;
}

.product-details {
  margin: 10px;
  text-align: center;
}

.product-details-row {
  display: flex;
  justify-content: space-between;
}

.detail-label {
  font-weight: bold;
}

.product-link {
  text-decoration: none;
  color: black;
}

.customer-list {
  margin-top: 10px;
}

.customer {
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.customer-info {
  margin-bottom: 10px;
}

.customer-link {
  text-decoration: none;
  color: hsl(209, 26%, 35%);
}

.add-button,
.save-button {
  background-color: hsl(209, 26%, 35%);
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.add-button:hover,
.save-button:hover {
  background-color: hsl(209, 26%, 35%);
}

/* Responsive mode styles for smaller screens */
@media only screen and (max-width: 600px) {
  .product-item {
    flex-basis: 100%;
  }

  .add-button,
  .save-button {
    margin-top: 5px;
  }
}
